<div class="container">
    <div class="row my-5">
        <input type="text" class="col-9">
        <button class="btn btn-secondary col-3">Buscar</button>
    </div>
    <div class="row">
        <!-- <div *ngFor="let poke of data" class="col-2 m-4">
            <div class="border border-dark-subtle border-4 rounded-4 p-4">
                <h4>{{poke.name | uppercase}}</h4>
                <img src="{{poke.image}}" alt="{{poke.name}}" class="">
            </div>
        </div> -->
        <div class="">

        </div>
        <div *ngFor="let poke of data" class="card m-3 text-center" style="width: 18rem;">
            <img src="{{poke.image}}" class="card-img-top" alt="{{poke.name}}">
            <div class="card-body">
                <h4>{{poke.name | uppercase}}</h4>
            </div>
        </div>
    </div>
</div>
