<div class="container">
    <div class="row justify-content-evenly my-5">
        <input type="text" class="col-9" placeholder="Busca tu pokemon por su nombre (o letra)" [formControl]="control">
        <button type="button" class="btn btn-secondary col-2" (click)="pokeBuscar()">Buscar</button>
    </div>
    <div class="row justify-content-center">
        <a *ngFor="let poke of data | search:filtro_value" class="card m-3 text-center rounded-4" style="width: 18rem;" [routerLink]="['/pokemon', poke.position]">
            <div >
                <img src="{{poke.image}}" class="card-img-top" alt="{{poke.name}}">
                <!-- <img *ngIf="shiny" src="{{poke.image2}}" class="card-img-top" alt="{{poke.name}}"> -->
            </div>
            <div class="card-body">
                <h4>{{poke.position}} - {{poke.name | uppercase}}</h4>
            </div>
        </a>
    </div>
</div>

<!-- (mouseover)="shiny=true" (mouseout)="shiny=false" -->